footer 
  .media
    h3= "Follow me"
    a(href="http://https://github.com/luigui-py" class="icon-github")
    a(href="http://https://twitter.com/_Luigui___" class="icon-twitter")
    a(href="https://www.linkedin.com/in/luis-rodr%C3%ADguez-7099401b6/" class="icon-linkedin")
  .contact
    h3="Contact me"
    input(type="Text" placeholder="Name")
    input(type="Email" placeholder="Email")
    input(type="text" placeholder="Write your message" class="message")
    button(type="button")= "Send" 
      
