@charset "UTF-8";
body {
  background-color: #19191b;
  font-family: "Nunito", sans-serif;
  color: rgba(255, 255, 255, 0.924);
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  margin: 0;
}

button {
  width: 33%;
  border: none;
  background-color: #19191b;
  height: 25px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.924);
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?hkxmxk");
  src: url("fonts/icomoon.eot?hkxmxk#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?hkxmxk") format("truetype"), url("fonts/icomoon.woff?hkxmxk") format("woff"), url("fonts/icomoon.svg?hkxmxk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-github:before {
  content: "";
}

h1 {
  text-align: center;
  margin: 50px;
}

.geometry {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}
.geometry h2 {
  text-transform: capitalize;
}
.geometry h3 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 10px;
}
.geometry__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.geometry__content img {
  width: 40%;
  height: auto;
}
.geometry__form {
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.924);
  padding: 20px;
  border-radius: 10px;
  color: #19191b;
  width: 65%;
}
.geometry__form input {
  width: 100px;
  height: 20px;
  border: 1px solid #19191b;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
}
.geometry__form p {
  height: 1.2em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.924);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px;
  color: #19191b;
}
footer .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}
footer .media a {
  text-decoration: none;
  color: #19191b;
  font-size: 32px;
}
footer .contact {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contact input {
  border: 0;
  border-radius: 5px;
  background-color: #19191b;
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
}
footer .contact .message {
  padding-bottom: 60px;
}